# Database
DATABASE_URL="postgresql://user:password@localhost:5432/duit_gampangin"

# Auth
IRON_SESSION_SECRET="your-secret-key-min-32-characters-long!!"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# WAHA (WhatsApp)
WAHA_URL="http://localhost:3000"
WAHA_API_TOKEN="your-waha-token"
OTP_WA_NUMBER="628xxxxxxxxxx"
BOT_WA_NUMBER="628xxxxxxxxxx"
